<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="unpkg.com/element-ui@2.11.0/lib/theme-chalk/index.css">
</head>
<style>
    /* .btn{
        display: flex;
        flex-wrap: nowrap;
    } */
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .el-row {
        margin-bottom: 20px;
        background-color: #B3C0D1
    }

    .el-col {
        border-radius: 4px;
    }
</style>
<body>
<div id="app">
    <el-container style="height: 500px; border: 1px solid #eee">
        <el-aside width="250px" style="background-color: rgb(238, 241, 246)">
            <el-menu default-active="1-4" :default-openeds="openeds">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>导航</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" v-on:click='sendInfo'>主页</el-menu-item>
                        <el-menu-item index="1-2" v-on:click='sendSC'>选课</el-menu-item>
                        <el-menu-item index="1-3" v-on:click='sendGrade'>查看成绩</el-menu-item>
                        <el-menu-item index="1-4" v-on:click='alterInfo'>修改个人信息</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-container>
            <el-header style="text-align:center; font-size: 20px" height="70px">
                <i class="el-icon-user" style="margin-right: 15px"></i>
                <span v-on="showID()">{{name}}</span>
            </el-header>
            <el-main>
                <el-table :data="tableData" style="width: 100%" align="center">
                    <el-table-column prop="attribute" label=" " width="250%">
                    </el-table-column>
                    <el-table-column label=" " width="250%">
                        <template slot-scope="scope">
                            <el-input v-if="scope.row.isEdit" v-model="scope.row.content">
                            </el-input>
                            <label v-if="scope.row.status">{{scope.row.content}}</label>
                        </template>
                    </el-table-column>
                </el-table>
                <div align="center" style="margin-top: 15px">
                    <el-button size="medium" @click="handleEdit()" type="primary"
                               class="btn" v-if="alter" plain>编辑</el-button>
                    <el-button size="medium" @click="send()" type="danger"
                               class="btn" v-if="save" plain>保存</el-button>
<!--                    <el-button size="mini" @click="onCancel()"
                    class="btn" v-if="cancel">取消</el-button>-->
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/jquery-3.4.1/jquery-3.4.1.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            openeds:'1',
            name:'',
            alter:true,
            save:false,
            cancel:false,
            tableData: [
                {
                    attribute: '学号',
                    content:'',
                    status:true,
                    isEdit:false
                }, {
                    attribute: '姓名',
                    content: 'mike',
                    status:true,
                    isEdit:false
                }, {
                    attribute: '性别',
                    content: '男',
                    status:true,
                    isEdit:false
                }, {
                    attribute: '出生日期',
                    content: '1998-01-01',
                    status:true,
                    isEdit:false
                }, {
                    attribute: '联系电话',
                    content: '123456789',
                    status:true,
                    isEdit:false
                }]
        },
        methods: {
            sendSC() {
                location.href = 'SC.html?' + 'txt=' + encodeURI(this.name);
            },
            sendGrade() {
                location.href = 'StuGrade.html?' + 'txt=' + encodeURI(this.name);
            },
            sendInfo() {
                location.href = 'student.html?' + 'txt=' + encodeURI(this.name);
            },
            alterInfo() {
                location.href = 'stualterInfo.html?' + 'txt=' + encodeURI(this.name);
            },
            showID() {
                var loc = location.href;
                var n1 = loc.length;
                var n2 = loc.indexOf('=');
                var txt = decodeURI(loc.substr(n2 + 1, n1 - n2));
                this.name = txt;
                this.tableData[0].content=txt;
                var sid=this.name;
                $.post("/getStudent", {sid:sid}, function (d) {
                    if(d.s_Name!=null) app.tableData[1].content = d.s_Name;
                    else               app.tableData[1].content=' ';
                    if(d.s_BirthDate!=null) app.tableData[3].content = d.s_BirthDate;
                    else                    app.tableData[3].content=' ';
                    if(d.s_MobileNum)       app.tableData[4].content = d.s_MobileNum;
                    else                    app.tableData[4].content=' ';
                    if (d.s_Sex == true) app.tableData[2].content = '女';
                    else if (d.s_Sex == false) app.tableData[2].content = '男';
                    else app.tableData[2].content = ' ';
                })
            },
            handleEdit(){
                this.alter=false;
                this.save=true;
                this.cancel=true;
                for(var i=1;i<=4;i++){
                    this.tableData[i].isEdit=true;
                    this.tableData[i].status=false;
                }
            },
            send() {
                this.alter = true;
                this.save = false;
                this.cancel = false;
                for (var i = 1; i <= 4; i++) {
                    this.tableData[i].isEdit = false;
                    this.tableData[i].status = true;
                }
                var name = app.tableData[1].content;
                console.log(name)
                var sex = app.tableData[2].content;
                var birthdate = app.tableData[3].content;
                var phoneNum = app.tableData[4].content;
                var sid = this.name;
                $.post("/updateStudent", {
                    sid: sid,
                    S_Name: name,
                    ssex: sex,
                    birth: birthdate,
                    S_MobileNum: phoneNum
                }, function (d) {
                    alert(d);
                })
            }
        }
    });
</script>
</html>